QMainWindow {
    background: #434965;
}

QScrollArea QWidget {
    background: #60688A;
}

QScrollArea {
    border: none
}

QScrollArea QWidget QPushButton {
    background: #20ffffff;
}

QScrollArea QWidget QPushButton:hover {
    background: #50ffffff;
}